
@import "bootstrap";
@import "bootstrap/theme";
@import "navDesktop";
@import "navMobile";
@import "navTablet";


* {
    margin: 0;
    padding: 0;
    font-family: Open Sans, Arial, sans-serif;
}


html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

body {
    font-family: Open Sans, Arial, sans-serif;
    overflow-x: hidden;
    transition: transform 0.4s ease;
}

.wrapper{
    margin-top: 100px;
}

#wikipedia{
    list-style: none;
    margin-top: 5px; 
}

.wiki-entry{
    list-style: none;
}

.infoWindow{
    max-width: 250 px;
}


hr {
    margin-top: 0px;
    margin-bottom: 0px;
}


.btn-view{
    margin: 7px;
}

.btn-map-group{

    button.btn{
        padding: 6px 14px;     
    }

}

/* Place Button Group styling on navbar*/
.btn-place-group {   
    button.btn{
        padding: 0px;
        width: 44px;
        height: 35px !important;
        font-size: 12px;
    }
}

/* Picture street view on info window.*/
#streetView {
    width: 250px;
    height: 150px;
}