$nav-bar-background-color: #00324c;
$nav-bar-background-color-hover: #004466;
$nav-bar-text-color : #ffffff;
$nav-bar-width : 300px;

@import "bootstrap";
@import "bootstrap/theme";

* {
    margin: 0;
    padding: 0;
    font-family: Open Sans, Arial, sans-serif;
}


html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}


#map {
    height: 100%;
}

body {
    font-family: Open Sans, Arial, sans-serif;
    overflow-x: hidden;
    transition: transform 0.4s ease;
}

.nav-side {
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    width: $nav-bar-width;
    background-color: $nav-bar-background-color;
    transform: translate3d(-$nav-bar-width, 0, 0);
    transition: transform 0.4s ease;
    overflow-x: hidden;

    .nav-side-brand{
        background: #00547f;
        color: #ffffff;
        margin-top: 0px;
        width: $nav-bar-width;
        margin-bottom: 5px
    }

    .nav-side-ul {
        list-style: none;
        margin-top: 10px;        
	
        li {
            
            font-size: 18px;
            color: $nav-bar-text-color;

            a {
                text-decoration: none;                
                text-align: left;
                color: $nav-bar-text-color;
                padding: 10px 0;                    
            }

            i{                 
                float: right;
                text-align: right;
                padding-right: 2px; 
            }
            

        }

        li:hover {
            background-color: $nav-bar-background-color-hover;
        }


    }
}

.active-nav .nav-side  {
    transform: translate3d(0, 0, 0);
    transition: transform 0.4s ease;
}

 nav {
     transform: translate3d(0px, 0, 0);
     transition: transform 0.4s ease;
 }

.nav-toggle-btn {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: $nav-bar-background-color;
    color: $nav-bar-text-color;
    text-align: center;
    padding-top: 15px;
    border: 0px;
}

.nav-toggle-btn:hover{
    background-color: $nav-bar-text-color;
    color: $nav-bar-background-color;
}

.content > * {    
    text-align: center;
    transition: transform 0.4s ease;
}

.active-nav .content {
    transform: translate3d($nav-bar-width, 0, 0);
}

.wrapper{
    margin-top: 100px;
}

.input-search{
    min-height: 34px;
}

#wikipedia{
    list-style: none;
    margin-top: 5px; 
}

.wiki-entry{
    list-style: none;

}

.infoWindow{
    max-width: 250 px;
}


hr {
    margin-top: 0px;
    margin-bottom: 0px;
}

.btn-view{
    margin: 7px;
}


.btn-map-group{

    button.btn{
        padding: 6px 14px;        
    }

}

/* Place Button Group styling on navbar*/
.btn-place-group {   
    button.btn{
        padding: 0px;
        width: 44px;
        height: 35px !important;
        font-size: 12px;
    }
}

/* Picture street view on info window.*/
#streetView {
    width: 250px;
    height: 150px;
}
